html,
body {
  box-sizing: border-box;
  margin: 0rem;
  /* background-color: #ffffff; */
}

.main-header {
  width: 100%;
  height: 30vh;
  background-color: #ee9ca7;
  text-align: center;
}

@media (min-width: 40rem) {
  .main-header {
    width: 100%;
    height: 30vh;
    background-color: #ee9ca7;
    text-align: center;
  }
}

.main-header-text1 {
  margin: 0rem;
  font-size: 2.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-header-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* .main-header-sub{
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-items: center;
} */

.array-specs {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.array-specs p {
  margin: 0.2rem;
  color: #292E49;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (min-width: 40rem) {
  .array-specs {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  .array-specs p {
    margin: 0.5rem;
    color: #292E49;
    font-size: x-large;
    letter-spacing: -0.1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}

#generate {
  font-size: 1.2rem;
  margin-left: 5rem;
  padding: 0.8rem;
  border: 0rem;
  border-radius: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0275d8;
  color: whitesmoke;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.33);
  transition: 0.2s;

  position: absolute;
  left: 13rem;
  top: 4rem;
}

@media (min-width: 40rem) {
  #generate {
    font-size: 1.8rem;
    margin-left: 0rem;
    padding: 0.8rem;
    border: 0rem;
    border-radius: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #0275d8;
    color: whitesmoke;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.33);
    transition: 0.2s;

    position: absolute;
  left: 65rem;
  top : 9rem;
  }
}

#generate:hover,
#generate:active {
  background-color: whitesmoke;
  color: #0275d8;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.algos {
  margin: 0rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 10rem;
  top: 8rem;
}

.algos button {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0rem;
  border-radius: 16px;
  background-color: whitesmoke;
  color: #0275d8;
  text-align: center;
  

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.33);
  transition: 0.3s;
}

.algos button:hover,
.algos button:active {
  background-color: #0275d8;
  color: whitesmoke;
  box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

@media (min-width: 40rem) {
  .algos {
    margin: 0rem;
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 57rem;
    top:4.5rem;
  
  }

  .algos button {
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0rem;
    border-radius: 16px;
    background-color: whitesmoke;
    color: #0275d8;
    text-align: center;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.33);
    transition: 0.3s;
  }
}

section {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 5% 90% 5%;
  grid-template-columns: 5% 90% 5%;
}

section .container1 {
  padding: 20%;
}

section .container2 {
  padding: 20%;
}

section #array-container {
  display: flex;
  /* flex-direction: row; */
  display: -ms-flexbox;
  display: -webkit-box;
  width: 100%;
  height: 65vh;
  background-color: white;
}

@media (min-width: 40rem) {
  section {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 20% 60% 20%;
    grid-template-columns: 20% 60% 20%;
  }

  section .container1 {
    padding: 20%;
  }

  section .container2 {
    padding: 20%;
  }

  section #array-container {
    display: flex;
    /* flex-direction: row; */
    display: -ms-flexbox;
    display: -webkit-box;
    width: 100%;
    height: 65vh;
    background-color: white;
  }
}

.main-footer {
  background-color: #ee9ca7;
  width: auto;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-myname {
  color: #642B73;
  margin: 0rem;
  padding-left: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -2px;
  font-family: "Montserrat", sans-serif;
}

.footer-list {
  margin: 0rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-list-link {
  margin: 1rem;
  text-decoration: none;
  color: #0275d8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hide {
  display: none;
}
